# Byte-compiled / cache
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Model weights & Large audio
*.wav
!tests/test_samples/*.wav
*.mp3
*.tflite
!engine/models/*.tflite
*.tar.gz

# IDE
.vscode/
.idea/
.DS_Store
